$break-s: 576px;
$break-m: 768px;
$break-l: 992px;
$break-xl: 1440px;

$breakpointsMinWidth: (
	'xs': null,
	'sm': $break-s,
	'md': $break-m,
	'lg': $break-l,
	'xl': $break-xl,
);

$breakpointsMaxWidth: (
	'xs': $break-s - 1px,
	'sm': $break-m - 1px,
	'md': $break-l - 1px,
	'lg': $break-xl - 1px,
	'xl': null
);

@mixin respond-to($media, $mediaType) {
    $minBreakpoint: map-get($breakpointsMinWidth, $media);
    $maxBreakpoint: map-get($breakpointsMaxWidth, $media);

    @if ($mediaType) {
        $maxBreakpoint: map-get($breakpointsMaxWidth, $mediaType);
    }
    
	@if (($minBreakpoint == null) and ($maxBreakpoint != null)) {
		@media only screen and (max-width: $maxBreakpoint) { @content; }
	}
	@else if (($minBreakpoint != null) and ($maxBreakpoint != null)) {
		@media only screen and (min-width: $minBreakpoint) and (max-width: $maxBreakpoint) { @content; }
	}
	@else if (($minBreakpoint != null) and ($maxBreakpoint == null)) {
		@media only screen and (min-width: $minBreakpoint) { @content; }
	}
	@else {
		@content;
	}
}